{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'intraday.css'%}">
</head>
<body>
    <div id="intradayHeader"  >
        <a class="choseDay" href="{%url 'intraday'%}">Enter data of day one</a>
        <a class="choseDay" href="{%url 'dayTwo'%}">Enter data of day two</a>
        <a class="choseDay" href="{%url 'dayThree'%}">Enter data of day three</a>
        <a class="choseDay" href="">Trade Calculation</a>
    </div>
    
</body>
</html>
